<?xml version="1.0"?>
<configuration>
	<system.web>
		<authorization>
   <deny users="?" />
   <allow roles="User1" />
   <allow roles="User2" />
   <allow roles="Admin" />
  </authorization>
		<compilation targetFramework="4.0"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
</configuration>
