<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <allow roles="Admin" />
      <deny users="?" />
      <deny roles="User1" />
      <deny roles="User2" />
      <deny users="?" />
    </authorization>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>